.resumeButton {
  color: black;
}
.navbar {
  text-align: center;
  background: url(https://t3.ftcdn.net/jpg/03/06/89/12/240_F_306891269_gTMWJhPW9XCywU0wMs1sDnpIGoxEaYZ6.jpg);
  background-size: cover;
}
.logo {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  width:60px;
  font-weight: bold;
  margin-left: 300px;
}
#home {
  margin-top: 200px;
  
}
#about {
  margin-top: 400px;
}
#work {
  margin-top: 400px;
}
#contact {
  margin-top: 400px;
  margin-bottom: 400px;
}
.profilePic {
  margin: auto;
  border-radius: 20px;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 45px;
}
.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
  background: url();
  background-size: cover;
  background-position: center;
}
.sidenav {
  width: 200px; /* Set the width of the sidebar */ /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:grey; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
  margin-left: 1720px;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}