* {
  background-color: gray;
}
.resumeButton {
  color: black;
}
.navbar {
  text-align: center;
  background-color:gray;
}
.logo {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  width:60px;
  font-weight: bold;
}
#home {
  margin-top: 200px;
}
#about {
  margin-top: 400px;
}
#work {
  margin-top: 400px;
}
#contact {
  margin-top: 400px;
}
.profilePic {
  margin: auto;
  border-radius: 20px;
}
body {
  background-color: gray;
}
.logo {
  height: 100px;
  width: 100px;
  border-radius: 45px;
}