.resumeButton {
    color: black;
}
.navbar {
    text-align: center;
}
.diamond-shape {
    background: #fff;
    text-align: center;
    transform:rotate(62deg);
    border: 2px solid aqua;
  }
  .logo {
    display: table-cell;
    height: 60px;
    transform: rotate(-62deg);
    vertical-align: middle;
    width:60px;
    font-weight: bold;
  }